body{
padding:0px;
margin:0px;
background-color:#ECE9D8;
}
td {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
}
pre{
padding:0px;
margin:0px;
}
input,select,textarea {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	border:1px solid #333333;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align:center;
	color:#CDDAFF;
	padding-top:10px;;
	padding-bottom:3px;
}
.copyright a {	color:#CDDAFF; text-decoration:none;}
.copyright a:hover { color:#990000; text-decoration:none; }
.menu{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-align:left;
color:#F0FD84;
background-image:url(images/index_07.jpg);
background-repeat:no-repeat;
background-position:65px;
padding-left:85px;
line-height:25px;
}
.menu a{ color:#F0FD84	;text-decoration:none;}
.menu a:hover{ color:#ffffff;text-decoration:none;}
.body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#396DA6;
text-align:justify;
padding-left:37px;
padding-right:22px;
padding-top:16px;
}
.body a{
color:#F20E73;
font-size:10px;
text-decoration:none;
}
.body a:hover{
color:#4A8008;
text-decoration:none;
}
.footer{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#F0FD84;
text-align:center;
padding-top:20px;
white-space:pre;
}
.footer a{
color:#F0FD84;
text-decoration:none;
}
.footer a:hover{
color:#ffffff;
text-decoration:none;
}
.right { color:#1F99DB;
padding-left:37px;
padding-top:8px;
padding-right:20px;
}
.more {color:#F88129; font-size:10px; font-weight:bold;}
.more a{color:#F88129; text-decoration:none;}
.more a:hover{color:#B7C544; text-decoration:none;}
.more1 {color:#425D00; font-size:10px; font-weight:bold;}
.more1 a{color:#425D00; text-decoration:none;}
.more1 a:hover{color:#ffffff; text-decoration:none;}
.more2 {color:#ffffff; font-size:10px; font-weight:bold; padding-top:8px; padding-bottom:8px; padding-right:8px;}
.more2 a{color:#ffffff; text-decoration:none;}
.more2 a:hover{color:#0E541E; text-decoration:none;}
.color {
color:#ffffff;
font-size:10px;
}
.body1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#A49E9F;
text-align:justify;
padding-left:34px;
padding-right:22px;
padding-top:10px;
}
.body1 a{
color:#F88129;
font-size:10px;
font-weight:bold;
text-decoration:none;
}
.body1 a:hover{
color:#B7C544;
font-weight:bold;
text-decoration:none;
}
.heading {
color:#E91B01;
padding-left:20px;
font-weight:bold;
font-size:14px;
}
.border {border:#FFFFFF 1px solid; }
.link {
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
background-image:url(images/index_49.jpg);
background-repeat:no-repeat;
background-position:10px;
padding-left:30px;
line-height:26px;
}
.link a{
color:#FFFFFF;
text-decoration:none;
}
.link a:hover{
color:#425D00;
text-decoration:none;
}
.contentbody {
color:#878282;
padding-left:21px;
text-align:justify;
}
.contentbody a{
color:#F88129;
font-weight:bold;
text-decoration:none;
}
.contentbody a:hover{
color:#A5B905;
font-weight:bold;
text-decoration:none;
}
.heading {
color:#A5B905;
font-weight:bold;
font-size:14px;
}
.contact {
padding-left:20px;
color:#506EC4;
}